.navbar{
    padding-right: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.content{
    /* border: 1px solid black; */
    display: flex;
}



.left{
    border-right: 1px solid black;
    height: 5   00px;
    width: 30%;
}
.right{
    padding: 20px 40px;
    /* border: 1px solid black; */
    width: 70%;
}

@media screen and (max-width: 700px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    .left{
        border-right: none;
        height: auto;
        width: 100%;
    }
    .right{
        
        margin-top: 30px;
        padding: 0;
        width: 100%;
    }
    .navbar{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        /* justify-content: center; */
        margin:  0px;
    }
  }