<h1>Create a Profile</h1>

<p *ngIf="invalid">
    <ngb-alert [dismissible]="false">
      <strong>Invalid!</strong> Please enter valid credentials.
    </ngb-alert>
  </p>

<div class="form">
    <form [formGroup]="registerForm" (ngSubmit)="handleRegister()" >
        <input type="text" placeholder="Name" formControlName="name">
        <input type="password" placeholder="Password" formControlName="password">
        Phone<input type="number" placeholder="Phone" formControlName="phone">
        Birthday 
        <input id="dob" type="date" placeholder="" formControlName="birthday">
        <p>By clicking Sign Up,you agree to our <a href="#">Terms</a> and <a href="#">Policy</a></p>
        <button class="btn btn-primary btn-sm">Sign Up</button>
        <hr>
    </form>
</div>
<p class="login"><a href="/">Back to Login</a></p>